.container {
  padding: 1rem;
}

.header {
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  text-align: center;
}

.header h1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.header p {
  font-size: 1.125rem;
  margin-bottom: 1rem;
}

.header p:nth-of-type(2) {
  font-size: 1rem;
}

.section {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f7fafc;
  border-radius: 0.375rem;
}

.section h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.section p {
  margin-bottom: 1rem;
}

.section a {
  color: #C41C26;
  font-weight: 600;
  text-decoration: none;
  transition: text-decoration 0.2s;
}

.section a:hover {
  text-decoration: underline;
}
